<% provide(:title, "About") %>
<style>
body{
  background-image: url('<%= asset_path("band.jpg")%>');
  background-repeat: repeat;
}</style>
<h1>Welcome to follow the music!</h1>
<h1>Our Users
<br>
College freshman:
Melody is a freshman at Brandeis University. She is a neuroscience, biology, and physics triple major and doesn’t have time to invest in singing like she did in highschool. Judy wants to find a way to spontaneously connect with musicians whenever she has free time. FollowTheMusicTM is a perfect solution to Melody’s problem! She creates an account, finds a jam session near her, and meets two other college students singing and playing guitar for an amazing spontaneous jam session.
<br>
Traveller:
Roxanne is a great piano player and singer. She loves to socialize by making music with people . Roxanne goes to Prague to study abroad for the next 5 months. She looks for people to make music within her program but nobody’s down to jam. She gets the idea to look for people to make music with in the city and also make local friends! She opens FollowTheMusicTM, clicks GO LIVE and is filled by joy to see so many jam sessions around her! All this time the music was there, she just had to follow it! She joins a session, goes there and rocks out with the amazing musicians of Prague. On Roxanne’s last weekend, she decides to create a session with her favorite musicians from the app and organizes a house show for the listeners of FtMTM. She leaves Prague with great memories filled with good music!
<br>
Local musician:
 Piper has always loved music, and had a natural talent for picking up beats and rhythms, which she puts into her keyboard tracks. She loves to play, but doesn’t have much experience playing in front of audiences or getting his music heard and breaking out into the music industry. She uses FollowTheMusicTM to connect with other musicians in her area and to promote her weekly performances at the club, reaching new audiences looking for local performances. She hopes that by using the app he’s able to connect more with local talent, get her name out there, and be able to keep doing what she loves--making music!
<br>
Busy adult who doesn’t have time to make music anymore:
Reed is a middle-aged worker in the financial industry in NYC. Though he once dreamed of becoming a musician, today he does not have much time to connect with his musical passion or with friends. A midlife crisis lead his to decide to play and listen to musical jam sessions like he used to in college, but he does not know anyone to do so with him anymore. He recently signed up for Follow the Music after hearing about it from a coworker, but is not very familiar with using modern consumer applications, having had little time to explore beyond the scope of his work. He needs to be able to find jam sessions around his tight schedule and needs the flexibility to cancel them if he is asked to stay late at his office.
<br>
</h1>
