
<style>
body{
  background-image: url('<%= asset_path("guitars.jpg")%>');
  background-repeat: repeat;
}
.myButton {
    border:none;
  clor:#ffffff;
  -moz-box-shadow: 0px 10px 14px -7px #701630;
  -webkit-box-shadow: 0px 10px 14px -7px #701630;
  box-shadow: 0px 10px 14px -7px #701630;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #964c53), color-stop(1, #7d3844));
  background:-moz-linear-gradient(top, #964c53 5%, #7d3844 100%);
  background:-webkit-linear-gradient(top, #964c53 5%, #7d3844 100%);
  background:-o-linear-gradient(top, #964c53 5%, #7d3844 100%);
  background:-ms-linear-gradient(top, #964c53 5%, #7d3844 100%);
  background:linear-gradient(to bottom, #964c53 5%, #7d3844 100%);
  background-color:#964c53;
  -moz-border-radius:13px;
  -webkit-border-radius:13px;
  border-radius:13px;
  display:inline-block;
  cursor:pointer;

  font-family:Verdana;
  font-size:20px;
  font-weight:bold;
  padding:13px 32px;
  text-decoration:none;
  text-decoration-color: white;
  text-shadow:0px 1px 0px #661c1c;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d3844), color-stop(1, #964c53));
  background:-moz-linear-gradient(top, #7d3844 5%, #964c53 100%);
  background:-webkit-linear-gradient(top, #7d3844 5%, #964c53 100%);
  background:-o-linear-gradient(top, #7d3844 5%, #964c53 100%);
  background:-ms-linear-gradient(top, #7d3844 5%, #964c53 100%);
  background:linear-gradient(to bottom, #7d3844 5%, #964c53 100%);
  background-color:#7d3844;
}
.myButton:active {
  position:relative;
  top:1px;
}
</style>
<% provide(:title, "Follow The Music") %>
<body>
<div class="center jumbotron" >
<h1>Welcome to follow the music!</h1>
<h2><i>A place for spontaneous jam sessions, concerts, and new friends!</i></h2>
<%= link_to 'Get Started!',loginpage_path, class: "myButton"%>
</div>
</body>
