<% provide(:title, "About") %>
<body>
<div class="center jumbotron" >
<h1>Welcome to follow the music!</h1>
<h2><i>A place for spontaneous jam sessions, concerts, and new friends!</i></h2>
<%= link_to 'Get Started!',loginpage_path, class: "myButton"%>
</div>
</body>
