<% id = "modal-for-tab-index" %>

<div class="modal fade" id='<%= id %>', title="Tab Index">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
        <h1>Chords and Tabs</h1>
        <br><br>
      </div>
      <div class="modal-body">
        <div  align="center">
        <%= form_tag(tabs_index_path, method: :get) do %>
          <%= text_field_tag :tab, params[:tab],placeholder: 'Search chords and tabs' %>
          <%= submit_tag 'Search',name: nil, class: 'btn btn-primary btn-xl page-scroll'%>
					<!-- link_to "Search", "#modal-for-tab-list","data-toggle" => "modal",class: 'btn btn-primary btn-m page-scroll', style:'width:50%; height:100%'  -->
					<!-- render 'jam_sessions/tab_show_modal', tab: params[:tab]  -->

        <% end %>
        </div>
        <br><br>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
