<!-- <div id="filterrific_results"> -->
<div>
  <% @your_sessions.each do |jsession| %>
    <tr>
      <%= image_tag User.find(id=jsession.host_id).avatar.url(:thumb) %>
      <%= link_to jsession.name, "#modal-for-jam_session\\:#{jsession.id}", "data-toggle" => "modal" %>

      				<%= link_to "#modal-for-chat_message\\:#{jsession.id}", class: "btn", "data-toggle" => "modal" do %>
          			<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>

  <% end %>

    </tr>
  <% end %>
  <%= will_paginate @your_sessions, :param_name => 'your_sessions_page'%>
</div>
