<style>
body{
  background-image: url('<%= asset_path("band.jpg")%>');
  background-repeat: repeat;
}
.jam{
  color: black;
  background-color: #F8F8FF;
  text-align:center;
}
</style>
<body>
<h1><strong>New Jam Session</strong></h1>
<div class="jam">
<%= render 'form', jam_session: @jam_session %>
<%= link_to 'Back', jam_sessions_path %>
<br><br>
</div>
</body>
