<body>
  <IFRAME width="1000" height=1000 min-height: xxx sandbox='allow-forms allow-scripts' src="<%= @url %>"
  frameborder="0" />
</body>
<% @all_items.each do |item| %>
  <%= item.title %>
<% end %>
<p><%=@result%></
