<%= render 'navbar' %>

<h2 style="text-align:center;">Chords and Tabs</h2>
  <table align="center",style="text-align:center;">
    <%if (@search != nil && @search.results!=nil)%>
      <th>Title</th>
      <th>Artist</th>
      <th>Tab Type</th>
      <%@search.results.each do |result|%>
      <tr>
        <td><%=link_to result.title, tab_show_chords_path(chords: result.content.html_safe, tab_name:result.title)%></td>
        <td><%=result.artist%>  </td>
        <td><%=result.tab_type%> </td>
      </tr>
      <%end%>
    <%end%>
  </table>
