<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <tbody>
    <%@users.each do |user|%>
      <tr>
        <th>Name</th>
        <td><%= user.id%></td>
      </tr>
      <tr>
        <th>City</th>
        <td>Boston</td>
      </tr>
      <tr>
        <th>Genre</th>
        <td>Jazz</td>
      </tr>
      <tr>
        <th>Instruments</th>
        <td>Piano</td>
      </tr>
      <tr><th>Current Favorite Artists</th>
          <td>Norah Jones</td>
      </tr>
      <tr>
        <th>Spotify Playlist</th>
        <td>playlist link</td>
      </tr>
      <tr>
        <th>Links to Music</th>
        <td>youtube link</td>
      </tr>
      <tr>
        <th>Introduction Message</th>
        <td>I make music for fun! Come jam with me!</td>
    </tr>
    <%end%>
  </tbody>
</table>

<br>
