<% provide(:title, @user.name) %>
<style>
body{
  background-image: url('<%= asset_path("plak.jpg")%>');
  background-repeat: repeat;
}

</style>
<body>
<div class="center jumbotron" >
<div class="row">
  <aside class="col-md-4">

        <table>
          <tbody>
              <tr>
                <td>Name</td>
                <td>  <%= @user.name %></td>
              </tr>
              <tr>
                <td>Email</td>
                <td><%= @user.email %></td>
              </tr>
              <tr>

          </tbody>
        </table>

        <%= link_to "Edit profile", profile_edit_path %>
    </section>
</div>
</div>
</body>
