<% chat_messages = ChatMessage.where(jam_session_id: jam_session.id) %>

<% id = jam_session.id %>

<div class="modal fade" id="chat-modal-<%= id %>" title="Log In">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<div>
					<h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          	<span aria-hidden="true">&times;</span>
	        	</button>
						<small>
							<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
							Jam Session
						</small>
					</h4>
				</div>

				<h3>
					Chat
				</h3>
			</div>

			<div class="modal-body">
				<% @jam_session = jam_session %>
				<%= render 'chat_messages/form', chat_message: ChatMessage.new, jam_session: @jam_session %>
			  <br>
			  <% chat_messages.reverse.each do |message| %>
			    <%= render 'chat_messages/message', message: message %>
			  <% end %>
			</div>

			<div class="modal-footer">

			</div>

		</div>
	</div>
</div>
