<header>
  <section id="page-top">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Follow The Music</h1>
            <hr>
            <p>A place for spontaneous jam sessions, concerts, and new friends!</p>
            <div id="custom-search-input">
               <div class="input-group col-md-12">
                   <input type="text" class="  search-query form-control" placeholder="**INSERT USER'S CURRENT ADDRESS HERE**" />
                   <span class="input-group-btn">
                       <button class="btn btn-primary default" type="button" >
                           <span class=" glyphicon glyphicon-search">
                           </span>
                       </button>
                   </span>
               </div>
           </div>
           <br>
           <br>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
  </section>
</header>
