
<html>
  <head>
    <style>
      #map {
        height: 600px;
        width: 90%;
        margin-left:20%;
        /*margin-right:20%;*/
        margin-top: -64%;
      }
      ul,h3{

      }h3 {
        font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
      	font-size: 24px;
      	font-style: normal;
      	font-variant: normal;
      	font-weight: 500;
      	line-height: 26.4px;
        text-align:center;
      }
      body{
        background-image: url('/assets/ukulele.jpg');
        background-repeat: repeat;
      }
    #list{
        color: black;
        background-color: #F8F8FF;
        margin-left: -10%;
        height:600px;
        width:250px;
      }
      li{
        margin-left: 5%;
      }
      .button1 {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
        margin: 8px 4px;
        border-radius: 50%;
        margin-left: 35%;
        margin-top:100%;
        text-emphasis-color:#4CAF50;
      }
      .button2 {
        background-color:  #F8F9FF;
        border-radius: 10%;
        margin-left: 30%;
        border-color:black;
      }
    </style>
  </head>

  <body>
  <div id="list">
    <h3><strong>Music Around You<strong></h3>

  <%@jam_sessions.each do |session|%>
  <li><%=link_to session.name, session%> <%= link_to "Join", session, class: 'button2' %></li>
  <%end%>

</ul>
<%= link_to "+", new_jam_session_path, class: 'button1' %>

</div>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLQtBuY3_NLNF4UMAv1SLrTAsQR1I7mfM&callback=initMap">
    </script>
  </body>
</html>
